{% extends 'master.html' %}

{% block title %}Bierliste - Hinzufügen{% endblock %}

{% block content %}
  {% if created %}
  Student #{{ student.student_ID }} erfolgreich angelegt.
  {% else %}
  Student #{{ student.student_ID }} bereits in der Datenbank.
  {% endif %}
  Kartennummer: {{ student.card_ID }}

  <form role="from" id="settingsForm" method="post" action="{% url 'addName' student.student_ID %}" enctype="multipart/form-data">
  {% csrf_token %}
  Namen eingeben: {{ form }}
  <button type="submit">Bestätigen</button>
  </form>

  <br>
  <a href="{% url 'home' %}"><button>Zurück zur Startseite</button></a>
{% endblock %}
